* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body { background: #3D414B; }


#listContainer {
	width: 250px;
	margin: 50px auto;
	font-size: 15px;
	font-family: verdana, sans-serif;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.listContainer__btnAdd {
	background: #ED6F13;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1em;
	border-radius: 3px;
	font-family: inherit;
}

.listContainer__btnAdd:hover {background: #F68029;}
.listContainer__btnAdd:active {background: #ED6F13;}

.list { 
	margin-top: 20px;
	width: 100%;
}

.list__item {

	list-style: none;
	user-select: none;
	padding: 15px 20px;
	background: #fff2;
	color: #fff;
	margin-top: 10px;
	border-radius: 3px;
	position: relative;
}

.list__item:hover { background: #cb7d45; }

.fa-xmark {
	position: absolute;
	visibility: hidden;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list__item:hover > .fa-xmark { visibility: visible; }